In [1]:
from data_process import *
from models import *
from utility import *
from train_evaluate import *
import pandas as pd

/home/pseshadri/miniconda3/envs/recsys/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
#CHANGE THE SKIP TOKEN

#st = sequence
#lst = 
#a = next token
#user_id = user
#skip = skip
#buy = was the next a hit
display(pd.read_csv('/home/pseshadri/sequential-recommendation/sequential-music-recommendation/datasets/transition_store/transition_store_test.csv'))

,st,lst,a,buy,user_id,skip
0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",1,151,1,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,"[0, 151, 0, 0, 0, 0, 0, 0, 0, 0, 0]",1,150,1,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,"[0, 151, 150, 0, 0, 0, 0, 0, 0, 0, 0]",2,149,1,0,"[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
3,"[0, 151, 150, 149, 0, 0, 0, 0, 0, 0, 0]",3,148,1,0,"[1, 1, 1, 0, 0, 0, 0, 0, 0, 0]"
4,"[0, 151, 150, 149, 148, 0, 0, 0, 0, 0, 0]",4,147,1,0,"[1, 1, 1, 1, 0, 0, 0, 0, 0, 0]"
...,...,...,...,...,...,...
19314,"[5, 21195, 21194, 0, 0, 0, 0, 0, 0, 0, 0]",2,21193,1,5,"[1, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
19315,"[5, 21195, 21194, 21193, 0, 0, 0, 0, 0, 0, 0]",3,21192,1,5,"[1, 1, 1, 0, 0, 0, 0, 0, 0, 0]"
19316,"[5, 21195, 21194, 21193, 21192, 0, 0, 0, 0, 0, 0]",4,21191,1,5,"[1, 1, 1, 1, 0, 0, 0, 0, 0, 0]"
19317,"[5, 21195, 21194, 21193, 21192, 21191, 0, 0, 0...",5,21190,1,5,"[1, 1, 1, 1, 1, 0, 0, 0, 0, 0]"
19318,"[5, 21195, 21194, 21193, 21192, 21191, 21190, ...",6,21189,1,5,"[1, 1, 1, 1, 1, 1, 0, 0, 0, 0]"